@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
nav img {
  width: 9rem;
}
nav .lists i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: black;
}

.hero {
  background: url(../images/week45_HP-KV-Mo.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.hero .main-head {
  font-size: 2.5rem;
  margin: 1rem auto;
  width: 70%;
}
.hero p {
  width: 90%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.section1 {
  font-family: Arial, Helvetica, sans-serif;
}
.section1 h2 {
  text-align: center;
  margin: 1rem;
}
.section1 .top-link {
  font-size: 1.2rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.section1 .links {
  display: flex;
  justify-content: space-between;
}
.section1 .links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.section1 .links a a:hover {
  border-bottom: 2px black solid;
}
.section1 .grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  margin: 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
  gap: 0.8rem;
}
.section1 .grid-cards .G-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F4F4;
  border-radius: 1rem;
  padding: 2rem 1rem;
}
.section1 .grid-cards .G-image img {
  width: 150px;
}

.bg .section-hero {
  background: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  color: white;
  padding-top: 3rem;
}
.bg .section-hero button {
  display: flex;
  align-items: center;
}
.bg .section-hero h2 {
  font-size: 2rem;
}

.section-hero2 h2 {
  padding: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
}
.section-hero2 .rounded-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-hero2 .rounded-img .mid-img img {
  width: 250px;
  margin-bottom: 1rem;
}
.section-hero2 .rounded-img p {
  font-size: 1.2rem;
  font-weight: bold;
}

.section-hero3 {
  background-color: #C5D7E3;
  height: 100vh;
  position: relative;
}
.section-hero3 h2 {
  padding-top: 3rem;
  font-size: 2rem;
}
.section-hero3 .links {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 1rem;
}
.section-hero3 .links a {
  text-decoration: none;
  color: black;
}
.section-hero3 .links :hover {
  border-bottom: 3px black solid;
}
.section-hero3 .img {
  margin: 5rem 10%;
}
.section-hero3 .img img {
  width: 300px;
}
.section-hero3 .bottom-text {
  position: absolute;
  bottom: 2rem;
}
.section-hero3 .bottom-text button {
  background-color: black;
  color: white;
  font-weight: bold;
}
.section-hero3 .bottom-text .learn {
  border-bottom: 4px black solid;
  font-weight: bold;
  width: 25%;
  margin: 0 auto;
}

.section-hero4 {
  background: url(../images/WhatsApp\ Image\ 2024-11-12\ at\ 7.15.24\ PM.jpeg);
  background-size: cover;
  height: 100vh;
  position: relative;
  color: white;
}
.section-hero4 h2 {
  padding-top: 1rem;
}
.section-hero4 .links {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.section-hero4 .links a {
  text-decoration: none;
  color: white;
}
.section-hero4 .links :hover {
  border-bottom: 3px white solid;
}
.section-hero4 .save {
  font-size: 2.1rem;
}
.section-hero4 .bottom-text {
  position: absolute;
  bottom: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  margin: 1rem 6rem;
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}/*# sourceMappingURL=style.css.map */